@import 'tailwindcss';
@source "../**/*.{ts,tsx}";

@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/roboto-mono';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0); /* Tailwind: white */
  --foreground: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --card: oklch(1 0 0); /* Tailwind: white */
  --card-foreground: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --popover: oklch(1 0 0); /* Tailwind: white */
  --popover-foreground: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --primary: oklch(0.488 0.243 264.376); /* Tailwind: blue-700 */
  --primary-foreground: oklch(0.97 0.014 254.604); /* Tailwind: blue-50 */
  --secondary: oklch(0.967 0.001 286.375); /* Tailwind: zinc-100 */
  --secondary-foreground: oklch(0.21 0.006 285.885); /* Tailwind: zinc-900 */
  --muted: oklch(0.97 0 0); /* Tailwind: neutral-100 */
  --muted-foreground: oklch(0.556 0 0); /* Tailwind: neutral-500 */
  --accent: oklch(0.97 0 0); /* Tailwind: neutral-100 */
  --accent-foreground: oklch(0.205 0 0); /* Tailwind: neutral-900 */
  --destructive: oklch(0.58 0.22 27); /* Tailwind: ~red-600: oklch(0.577 0.245 27.325) */
  --border: oklch(0.922 0 0); /* Tailwind: neutral-200 */
  --input: oklch(0.922 0 0); /* Tailwind: neutral-200 */
  --ring: oklch(0.708 0 0); /* Tailwind: neutral-400 */
  --chart-1: oklch(0.809 0.105 251.813); /* Tailwind: blue-300 */
  --chart-2: oklch(0.623 0.214 259.815); /* Tailwind: blue-500 */
  --chart-3: oklch(0.546 0.245 262.881); /* Tailwind: blue-600 */
  --chart-4: oklch(0.488 0.243 264.376); /* Tailwind: blue-700 */
  --chart-5: oklch(0.424 0.199 265.638); /* Tailwind: blue-800 */
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --sidebar-foreground: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --sidebar-primary: oklch(0.546 0.245 262.881); /* Tailwind: blue-600 */
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604); /* Tailwind: blue-50 */
  --sidebar-accent: oklch(0.97 0 0); /* Tailwind: neutral-100 */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* Tailwind: neutral-900 */
  --sidebar-border: oklch(0.922 0 0); /* Tailwind: neutral-200 */
  --sidebar-ring: oklch(0.708 0 0); /* Tailwind: neutral-400 */

  /* custom severity colors */
  --info: oklch(1 0 0); /* Tailwind: white */
  --info-foreground: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.986 0.031 120.757);
  --warning: oklch(0.67 0.16 58);
  --warning-foreground: oklch(0.99 0.02 95);
  --error: oklch(0.577 0.245 27.325);
  --error-foreground: oklch(0.971 0.013 17.38);
}

.dark {
  --background: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --card: oklch(0.205 0 0); /* Tailwind: neutral-900 */
  --card-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --popover: oklch(0.205 0 0); /* Tailwind: neutral-900 */
  --popover-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --primary: oklch(0.42 0.18 266); /* Tailwind: ~blue-800: oklch(0.424 0.199 265.638) */
  --primary-foreground: oklch(0.97 0.014 254.604); /* Tailwind: blue-50 */
  --secondary: oklch(0.274 0.006 286.033); /* Tailwind: zinc-800 */
  --secondary-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --muted: oklch(0.269 0 0); /* Tailwind: neutral-800 */
  --muted-foreground: oklch(0.708 0 0); /* Tailwind: neutral-400 */
  --accent: oklch(0.371 0 0); /* Tailwind: neutral-700 */
  --accent-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --destructive: oklch(0.704 0.191 22.216); /* Tailwind: red-400 */
  --border: oklch(1 0 0 / 10%); /* Tailwind: white / 10% */
  --input: oklch(1 0 0 / 15%); /* Tailwind: white / 15% */
  --ring: oklch(0.556 0 0); /* Tailwind: neutral-500 */
  --chart-1: oklch(0.809 0.105 251.813); /* Tailwind: blue-300 */
  --chart-2: oklch(0.623 0.214 259.815); /* Tailwind: blue-500 */
  --chart-3: oklch(0.546 0.245 262.881); /* Tailwind: blue-600 */
  --chart-4: oklch(0.488 0.243 264.376); /* Tailwind: blue-700 */
  --chart-5: oklch(0.424 0.199 265.638); /* Tailwind: blue-800 */
  --sidebar: oklch(0.205 0 0); /* Tailwind: neutral-900 */
  --sidebar-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --sidebar-primary: oklch(0.623 0.214 259.815); /* Tailwind: blue-500 */
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604); /* Tailwind: blue-50 */
  --sidebar-accent: oklch(0.269 0 0); /* Tailwind: neutral-800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --sidebar-border: oklch(1 0 0 / 10%); /* Tailwind: white / 10% */
  --sidebar-ring: oklch(0.556 0 0); /* Tailwind: neutral-500 */

  /* custom severity colors */
  --info: oklch(0.145 0 0); /* Tailwind: neutral-950 */
  --info-foreground: oklch(0.985 0 0); /* Tailwind: neutral-50 */
  --success: oklch(0.648 0.2 131.684);
  --success-foreground: oklch(0.986 0.031 120.757);
  --warning: oklch(0.77 0.16 70);
  --warning-foreground: oklch(0.28 0.07 46);
  --error: oklch(0.637 0.237 25.331);
  --error-foreground: oklch(0.971 0.013 17.38);
}

@theme inline {
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: 'Roboto Mono Variable', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  /*
   * There are two ways to use the severity colors:
   * 1. Pair a background color with the corresponding foreground color, e.g.
   *    `bg-error text-error-foreground`
   * 2. Pair a default background color with a severity color directly,
   *    e.g. `bg-background text-error`
   *
   * See Storybook Colors page for examples
   */
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground antialiased;
  }
  html {
    @apply font-sans;
  }
}
