.time {
  font-size: 0.75rem;
  font-family: var(--fp-font-family-mono);
  opacity: 0.6;
}

.divider {
  width: 1px;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.text {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
